eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
server:
    port: 8762
spring:
    application:
        name: config-client
    cloud:
        config:
            label: master
            profile: dev
            discovery:
               enabled: true
               serviceId: config-server    
    rabbitmq:
        host: localhost
        port: 5672
        username: baymax
        password: 123456     
management:
   security:
    enabled: false
       
       